.game{
  display: flex;

  flex-direction: column;
  margin-top: 5%;
 align-items: center;
 gap:20px;

}
.board{
  display: grid;
  grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(3,100px);
 
}
.square{
  cursor: pointer;
  font-size: 30px;
  
  
}
.square:hover{
  background-color: green;
}
.game-info{
  display: flex;
  flex-direction: row;
 gap: 40px;
 margin-top: 40px;
}
.game-info button{
     border-radius: 5px;
     padding: 5px;
     background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.game-info button:hover{
  background-color: rgb(180, 229, 180);
}
.statustext{
  padding: 3px;
  border:solid 2px;
  border-radius: 5px;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.statustext:hover{
  background-color: rgb(169, 232, 169);
}